!!!
%html{"ng-app" => "todoApp"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title My Todo App
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.css", :rel => "stylesheet"}
    %link{:href => "css/application.min.css", :rel => "stylesheet"}

  %body
    .row
      #todoapp.medium-12.columns{"ng-controller" => "ToDoCtrl"}
        .medium-12.columns
          %h1 Sample Angular Todo App

        .todo--left
          %input.add.task{:name => "add-task", "ng-keyup" => "enterTask()", "ng-model" => "taskName", :placeholder => "Add your task here", :type => "text"}
        .todo--right
          %a.button.info{:name => "add-task", "ng-click" => "addTask()", "ng-model" => "taskName"} ADD

        / Task list
        %ul#todo-list
          %li{"ng-class" => "item", "ng-mouseenter" => "task.show = true; item= 'focus'", "ng-mouseleave" => "task.show = false; item = 'nofocus'", "ng-repeat" => "task in tasklist track by $index"}
            %input{:name => "checkbox", "ng-checked" => "completeTask()", "ng-model" => "task.completed", :type => "checkbox"}/
            %span{:class => "completed-{{task.completed}}"} {{task.name}}
            %span.delete.icon{"ng-click" => "deleteTask(tasklist.indexOf(task))", "ng-show" => "task.show", :title => "Delete Task"}


    %script{:src => "bower_components/jquery/dist/jquery.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.js"}
    %script{:src => "js/angular.min.js", :type => "text/javascript"}
    %script{:src => "js/application.js", :type => "text/javascript"}

:javascript
  $(document).foundation();
  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
