%section#home-container.medium-12{"ng-controller" => "HomeController", "ng-init" => "init()"}
  .row
    .large-12.columns.bg-4
      %h2
        %strong Home Page -
        {{ message }}

  .row
    .large-6.columns.bg-1
      %h3 Left
    .large-6.columns.bg-2
      %h3 Right
